{% extends 'index.html' %}


{%block content%}
<h1>Documentation</h1>
{% for name, categories in sections %}
	<h2>{{name}}</h2>
	<ul>
	{% for categoryName, categoryData in categories %}
			<li>{{categoryName}}
				<ul>
				{% for moduleName, module in categoryData.modules %}
						<li>{{moduleName}} 
						<ul>
						{%for doc in module.docs %}
							<li><a href="/doc/{{doc.id}}">{{doc.name}}</a>
							<span style="font-size:12px; color:gray">{{doc.filepath}}</span></li>
						{%endfor%}
						</ul>
						</li>
				{%endfor%}
				</ul>
			</li>
	{%endfor%}
	</ul>
	
</ul>
{%endfor%}
{%endblock%}